.footer {
    background-color: #F29F05;
    width: 100%;
    margin-top: 100px;
    // display: flex;
    // justify-content: center;
    .footerFirstSection {
        background-color: #f9f9f9;
        padding: 30px 0;
        // color: white;

        h5 {
            color: black;
        }
    }
    .footerContent {
        // margin: auto;
        max-width: var(--max-width);
        width: 100%;
        padding: 8px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 14px;
        color: white;
    }
}