@import "../../../assets//scss/common.scss";

.button {
    color: white;
    border: none;
    font-weight: 600;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary, .primary:hover {
    background-color: $blue-color !important;
}

.white, .white:hover {
    background-color: white;
    color: black;
}