@import "./fonts.scss";
@import "./variables.scss";


.btn {
    padding: 15px 25px;
    font-weight: 600;
    border-radius: 4px;
}

.text {
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.subTitle {
    font-size: 24px;
    font-weight: 600;
}

.textBlue {
    color: #1a69ca;
    font-weight: bold;
}

.textLink {
    color: #1a69ca;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}

.disabled {
    pointer-events: none;
    overflow: hidden !important;
    opacity: 0.9;
}

.disabled::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    /* Change the color and opacity as needed */
}