.mainBanner {
    padding-top: 80px;
    min-height: 80vh;
    position: relative;
    background-color: black;
    // background-image: url(../../../public/images/one.jpeg);
    @media only screen and (max-width: 720px) {
        margin-bottom: 350px;
    }
    .bgImg {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        opacity: .5;
    }
    .content {
        margin: auto;
        padding: 20px 15px 0 15px;
        max-width: var(--max-width);
        color: white;
        opacity: 1;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 100%;
        gap: 50px;
        z-index: 10;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 720px) {
            flex-direction: column;
            position: relative;
            .bannerFormArea {
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
            }
            .bannerFormArea>div {
                max-width: 450px;
            }
        }
        .bannerTextArea {
            flex: 1;
            max-width: 600px;
            // padding-top: 150px;
            p {
                margin-top: 20px;
            }
            // h1 {
            //     font-size: 1.5rem;
            // }
        }
        .bannerFormArea {
            // flex: 1;
            display: flex;
            justify-self: center;
            // justify-content: flex-end;
            // width: 100%;
        }
    }
}