.header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: inherit;
    z-index: 1000;
    transition: all 1s ease;
    color: white;



    .headerNav {
        max-width: var(--max-width);
        width: 100%;
        display: flex;
        justify-content: space-between;

        // align-items: center;
        .logo {
            padding: 6px 0px 16px 5px;
            display: flex;
            align-items: center;
            gap: 4px;

            // div {
                margin-top: 3px;
                font-weight: bold;
                transition: all .5s linear;
                color: #F29F05;
                font-family: cursive;
                font-size: 25px;
                padding-top: 10px;
            // }

            img {
                width: 150px;
                height: 120px;
                transition: all .5s linear;
            }
        }

        .mobileIcon {
            // display: none;
        }

        .headerNavList {
            display: flex;
            /* text-decoration: none; */
            list-style: none;
            gap: 40px;
            align-items: center;
            padding-right: 15px;

            li {
                position: relative;
                display: flex !important;
                gap: 5px;
                flex-wrap: wrap;

                .active {
                    color: rgb(13, 106, 255);
                    padding-bottom: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-bottom: 2px solid rgb(13, 106, 255);
                }

                &:hover {
                    >a {
                        opacity: .6;
                    }

                    ul {
                        display: block;

                        li {
                            // padding: 10px;
                            padding-bottom: 15px;
                        }
                    }
                }

                a,
                p {
                    text-decoration: none;
                    color: inherit;
                    margin: 0;

                    &:hover {
                        opacity: .6;
                        transition: opacity .3s linear;
                    }
                }

                ul {
                    top: 100%;
                    right: 0;
                    display: none;
                    position: absolute;
                    background-color: #ffffff;
                    // min-width: 220px;
                    padding: 6px 8px;
                    padding: 0% 20px;
                    padding-top: 10px;
                    z-index: 2;
                    border-radius: 20px 0 20px 20px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
                    // border: 1px solid rgb(248, 248, 248);

                    li {
                        text-wrap: nowrap;
                        color: black;
                    }
                }
            }
        }
    }

    &.headerScrolled {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        color: black;

        .headerNav {
            .logo {
                h1 {
                    font-size: 18px;
                    padding-top: 10px;
                }

                img {
                    width: 100px;
                    height: 80px;
                }
            }
        }

    }


}

.hiddenToggle {
    display: none;
}

@media only screen and (max-width: 990px) {
    .mobileIcon {
        display: flex;
        padding: 15px;
        align-items: center;
    }

    .sideBarOpened {
        background: white;
        color: black;
    }

    .headerNav {
        .logo {
            h1 {
                font-size: 20px !important;
            }

            img {
                width: 100px !important;
                height: 80px !important;
            }
        }

        ul {
            display: none;
        }

        .headerNavList {
            // position: absolute;
            // top: 90px;
            // left: 100vw;
            // transition: left .2s ease-in-out;
            // background-color: white;
            // height: calc(100vh - 60px);
            // width: 100vw;
            // display: flex;
            // flex-direction: column;
            // list-style: none;
            // gap: 0px !important;
            // align-items: baseline !important;
            // padding-right: 0 !important;
            // padding-top: 10px;
            // overflow: auto;
            // padding: 0;
            // color: black;
            display: none !important;

            // li {
            //     border-top: 1px solid rgb(123, 123, 123);
            //     display: block !important;
            //     width: 100%;
            //     padding: 15px;

            //     .active {
            //         color: rgb(13, 106, 255);
            //         padding-bottom: 0 !important;
            //         padding-left: 0px !important;
            //         padding-right: 0 !important;
            //         border-bottom: 0px !important;
            //     }

            //     .hiddenToggle:checked+ul {
            //         display: block !important;
            //         width: 100%;
            //         box-shadow: none;
            //     }

            //     &:target {
            //         pointer-events: none;

            //         >a {
            //             opacity: .6;
            //         }

            //         ul {
            //             display: block;

            //             li {
            //                 padding: 20px;
            //             }
            //         }
            //     }

            //     a {
            //         text-decoration: none;
            //         color: inherit;

            //         // padding-left: 20px;
            //         &:hover {
            //             opacity: .6;
            //             transition: opacity .3s linear;
            //         }
            //     }

            //     ul {
            //         display: none;
            //         position: static !important;
            //         background-color: #ffffff;
            //         min-width: 220px;
            //         padding: 6px 8px;
            //         z-index: 2;
            //         border-radius: 0 0 20px 20px;
            //         box-shadow: 0 20px 48px #2c2b300d;
            //         border: 1px solid rgb(248, 248, 248);
            //     }
            // }
        }

        // .headerNavList.showSideBar {
        //     left: 0;
        // }
    }
}