.footer {
    background-color: aquamarine;
    width: 100%;
    margin-top: 100px;
    // display: flex;
    // justify-content: center;
    .footerFirstSection {
        background-color: rgb(103, 194, 221);
        color: white;
    }
    .footerContent {
        margin: auto;
        max-width: var(--max-width);
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}