@import "../../../assets/scss/abstracts";


.main {
    padding-top: 20px;


    .imageContainer {
        position: sticky;
        top: 15px;
        border: 1px solid rgb(218, 218, 218);
        padding-bottom: 10px;

        div {
            position: relative;
            aspect-ratio: 1/1;
        }
    }


    .underLine {
        display: block;
        width: 54.84px;
        // border: 1.5px solid;
        border-top: 2.74176px solid #E7E7E7;

    }

    .detailsPart {
        button {


            background-color: $blue-color !important;
            color: white !important;
            font-weight: bold;
        }

        .price {
            font-weight: 400;
        }

        .deatailsSection {
            display: grid;
            grid-template-columns: auto;

            .detailsItem {
                display: flex;
                gap: 15px;
                padding-top: 12px;

                .label {
                    font-weight: 600;
                }

                .value {
                    font-weight: 400;
                }
            }
        }
    }

    .reviewCircleContainer {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        // width: 100%;
        text-align: center;

        .circle {
            // display: flex;
            // justify-content: center;
            // width: 100%;
        }
    }

    .reviewSection {
        .reviewItem {
            margin-top: 20px;

            .reviewStarSection {
                display: flex;
                gap: 15px;
                display: flex;
                align-items: center;

                .reviewStarList {
                    display: flex;
                    gap: 1px;
                    color: #ffd400;
                    align-items: center;

                    &>div {
                        display: flex;
                        gap: 1px;
                        color: #ffd400;
                        align-items: center;

                        &>div {
                            display: flex;
                            gap: 1px;
                            color: #ffd400;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }



    .categoryParent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: flex-start;
        place-items: center;

        .categoryItem {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 15px;
            margin-top: 15px;
            text-decoration: none;
            color: black;

            .categoryImageContainer {
                position: relative;
                width: 300px;
                aspect-ratio: 1/1;
                border-radius: 4px;
                // border: 1px solid rgb(228, 228, 228);
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

                img {
                    border-radius: 50%;
                }

            }

            h5 {
                text-align: center;
            }
        }
    }

    // .reviewContainer {
    //     width: 300px;
    //     height: 300px;
    //     aspect-ratio: 1;
    //     position: relative;

    //     .reviewCircle {
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //         border-radius: 50%;
    //     }

    //     .reviewPrimary {
    //         border: 5px solid red;
    //     }

    //     .reviewSecondary {
    //         border-right: 5px solid;
    //     }
    // }
}