@import "../../../../assets//scss/common.scss";

.top {
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr auto; */
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}


.sidebar {
    position: fixed;
    right: 0;
    /* left: calc(100vw + 300px); */
    top: 0;
    height: 100vh;
    background: white;
    z-index: 1000;
    // width: 70%;
    max-width: 300px;
    border-left: 1px solid #e3e3e3;
}

.mainParent {
    display: grid;
    height: 100vh;
    position: relative;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;


    &::-webkit-scrollbar-track {
        border-radius: 2px;
        background-color: rgb(227, 227, 227);
        border: none;
    }

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        width: 5px;
        height: 5px;
        border-radius: 8px;
        background-color: $orange-color;
        border: 1px solid rgb(255, 255, 255);
    }
}

.main {}

.mobileIcon,
.whatsappIcon {
    position: fixed;
    right: 0;
    z-index: 100;
    background: white;
    padding: 10px;
    top: 200px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 10px 0px 0px 10px;
    line-height: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* div {
      
    }
    span {
      display: block;
    } */
}

.whatsappIcon {
    top: 410px;
    background-color: #25d366;
    border-color: #25d366;
    margin: 2px;
    color: white;
    border-radius: 50px;
}

.mobileIcon {
    top: 470px;
    background-color: white;
    border: 1px solid rgb(202, 202, 202);
    margin: 2px;
    color: #4498FF;
    border-radius: 50px;
}